{%- liquid 
assign locale_selector = false
assign currency_selector = false
assign show_locale = false
assign show_currency = false

if settings.show_language and shop.enabled_locales.size > 1
assign locale_selector = true 
endif

if settings.show_currencies and shop.enabled_currencies.size > 1
assign currency_selector = true 
endif

if currency_selector or locale_selector
assign show_locale = true 
assign show_currency = true
endif
-%}
<div class="announcement__bar">
  <div class="page__width">
    <div class="announcement__wrapper">
      <div class="social__container">
        {%- render 'social-icons' -%}
      </div>
      <div class="main__announcement-banner">
        {%- if section.settings.heading_text != blank -%}
          <div class="announcement__heading">{{ section.settings.heading_text }}</div>
        {%- endif -%}
        {%- if section.settings.show_timer -%}
          <div
            class="main__timer"
            data-hour="{{ section.settings.timer_hours }}"
            data-minutes="{{ section.settings.timer_minutes }}"></div>
        {%- endif -%}
        {%- if section.settings.announcement_text != blank -%}
          <div class="main__text">{{ section.settings.announcement_text }}</div>
        {%- endif -%}
      </div>
      <div class="language__currency-container">
        {%- render 'localization',
         locale_selector: locale_selector,
         currency_selector: currency_selector,
         show_flags: settings.show_flags 
        -%}
      </div>
    </div>
  </div>
</div>