<cart-recommendations data-section-id="{{ section.id }}" data-product-id="{{ cart.items.first.product_id }}" data-limit="4">
  <div class="cart__recommendation-products">
    <div class="cart__recommendation-header">Consider These Items As Well</div>
    <div class="cart__recommendations-list">
      
    </div>
  </div>
</cart-recommendations>