{% comment %}
<cart-recommendations data-section-id="{{ section.id }}" data-product-id="{{ cart.items.first.product_id }}" data-limit="4">
  <div class="cart__recommendation-products">
    <div class="cart__recommendation-header">Consider These Items As Well</div>
    <div class="cart__recommendations-list">
      
    </div>
  </div>
</cart-recommendations>
{% endcomment %}
<cart-drawer-recommendations section-id="{{ section.id }}" product-id="{{ cart.items.first.product_id }}" class="mini-cart__recommendations">
  <div class="mini-cart__recommendations-inner">
      <p class="mini-cart__recommendations-heading heading heading--small hidden-pocket">Consider These Items As Well</p>

    <div class="scroller">
      <div class="scroller__inner">
        <div class="mini-cart__recommendations-list">
          {%- for product in recommendations.products -%}
              {%- assign product = cart.items -%}
              {%- render 'product-item', product: product, -%}
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</cart-drawer-recommendations>