<div class="locale__currency-wrapper">
  {% form 'localization', id: 'localization', class: 'locales' %}
    {% if show_locale %}
      <div class="locale__wrapper"></div>
    {% endif %}
    {% if show_currency %}
      <div class="currency__wrapper"></div>
    {% endif %}
  {% endform %}
</div>