{%- liquid
  assign menu_drawer_position = 'left'
  assign textDirection = settings.text_direction
  if textDirection == 'rtl'
    assign menu_drawer_position = 'right'
  endif
-%}
<div class="nav-drawer menu_drawer__{{ menu_drawer_position }}">
  <div class="drawer__overlay-container"></div>
  <div class="nav-content__wrapper">
    <div class="nav-drawer__header">
      <div class="nav-drawer__title">Menu</div>
      <div class="nav-drawer__close">
        <button class="nav-icon__close">
          {%- render 'icon-close' -%}
        </button>
      </div>
    </div>
    <div class="nav-main__contents">
      {%- render 'header-nav-desktop' -%}
      {%- render 'header-nav-mobile' -%}
    </div>
    <div class="nav-drawer__footer">
      <div class="nav-drawer-socials">
        {%- render 'social-icons' -%}
      </div>
      <div class="nav-drawer-locales"></div>
    </div>
  </div>
</div>