<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zeal Clothing Shop</title>

    {{ content_for_header }}
  </head>
  <body>
    {% sections 'header-group' %}
    <main class="main">
      {{ content_for_layout }}
    </main>

  </body>
</html>