{% stylesheet %}
.section-image-with-text {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.text-container {
  flex: 1 1 50%;
  max-width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
{% endstylesheet %}

{% assign blocks_limit = 6 %}
{% assign current_blocks_count = section.blocks.size %}

<div class="section-image-with-text">
  <div class="image-container">
    <img src="{{ section.settings.image_section | img_url }}" alt="">
  </div>
  
  {% for block in section.blocks %}
    {% if forloop.index <= blocks_limit %}
      <div class="text-container">
        <p>{{ block.settings.left_text_content }}</p>
      </div>
    {% endif %}
  {% endfor %}
</div>
{% schema %}
{
  "name": "Image with Text Blocks",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_section",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Left Text",
      "settings": [
        {
          "type": "text",
          "id": "left_text_content",
          "label": "Text Content"
        }
      ]
    }
  ]
}
{% endschema %}


