<div class="section-404">
  <div class="page__width">
    <div class="scroll__animate section-404__wrapper">
      <div class="section-404__block">
        <div class="main__heading error-page__heading">
          <h1>{{ 'general.404.text' | t }}</h1>
        </div>
        <div class="error__text rte">
          {{ 'general.404.sub_text_html' | t }}
        </div>
        <div class="error__btn-container">
          <a href="{{ routes.root_url }}" class="btn btn__link btn__primary">
            {{ 'general.404.shop_collection' | t }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.404.name"
  }
{% endschema %}