<div class="orders__wrapper">
  <div class="page__width">
    <div class="form__header">
      <h2>{{ 'customers.order.title' | t: name: order.name }}</h2>
      <a class="logout__container" href="{{ routes.account_logout_url }}"title="{{ 'customers.order.return_url' | t }}">
        {{ 'customers.order.return_url' | t }}
      </a>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.customer-order.name",
    "class": "customer__forms"
  }
{% endschema %}