<div class="main__password-section">
  <div class="page__width">
    <div class="password__banner">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
            {%- if block.settings.title != blank -%}
              <div class="password__title">
                {{ block.settings.title }}
              </div>
            {%- endif -%}
          {%- when 'text' -%}
            {%- if block.settings.text != blank -%}
              <div class="password__text rte">
                {{ block.settings.text }}
              </div>
            {%- endif -%}
          {%- when 'form' -%}
            {%- render 'newsletter-form' -%}
          {%- when 'socials' -%}
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "t:sections.main-password.name",
    "class": "main__section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Heading"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "form",
        "name": "Form",
        "limit": 1
      },
      {
        "type": "socials",
        "name": "Socials",
        "limit": 1
      }
    ]
  }
{% endschema %}