{% schema %}
  {
    "name": "Map",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Store Location"
      },
      {
        "type": "richtext",
        "id": "address",
        "label": "Address and Hours",
        "default": "<p>301 Front St W<br>Toronto, Canada</p><p>Mon - Fri, 8:30am - 10:30pm<br>Saturday, 8:30am - 10:30pm<br>Sunday, 8:30am - 10:30pm</p>"
      },
      {
        "type": "html",
        "id": "map_embed_code",
        "label": "Add Google iframe code"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button",
        "default": "View Map"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ]
  }
{% endschema %}
