/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.cart-btn__container {
    display: flex;
    justify-content: space-between;
}
.main__cart {
    margin: 30px 0;
}
.cart__main-heading{
  padding-bottom: 20px;
}
.cart__main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.cart__items {
    flex: 1 1 auto;
}
.cart__item-block {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(1,1,1,0.2);
    margin-bottom: 20px;
}
.cart__item-content {
  flex: 1 1 auto;
  padding-left: 20px;
}
.cart__item-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}
.cart-quantity__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.line__item-quantity input {
  width: 40px;
  padding: 0;
  border: none;
  text-align: center;
}
.line__item-quantity {
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 10px 17px;
}
.cart__summary {
    height: 100%;
    padding: 20px 25px;
    box-shadow: 0px 1px 4px 2px rgba(1,1,1,0.1);
}
.cart__summary h3 {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(1,1,1,0.2);
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 20px;
}
.cart__total-price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(1,1,1,0.2);
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
}
.cart__shipping-text h4 {
    text-transform: uppercase;
    padding-bottom: 10px;
}
.cart__shipping-text {
    padding-bottom: 70px;
}
.cart__terms-checkbox {
    padding-bottom: 20px;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.cart__item-image a {
    height: 100%;
}
.cart__terms-checkbox input {
    width: auto;
}
.cart__checkout-wrapper .btn__link {
    width: 100%;
}
.cart__empty-message {
    text-align: center;
    padding: 20px 0;
}
.cart__empty-message .rte {
    padding-bottom: 10px;
    font-size: 20px;
}
.line__item-final--price strong {
    color: #111111;
    padding-left: 6px;
}
.line__item-final--price strong {
    color: #111111;
    padding-left: 6px;
}
.cart__item-title h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}
.cart__item-price {
    padding-bottom: 20px;
    font-size: 12px;
}
.cart__item-remove {
    font-size: 13px;
    color: #9D1339;
    display: flex;
    align-items: center;
    gap: 4px;
}
.cart__note {
    padding-top: 20px;
}
.cart-btn__container .form__links {
    color: #111111;
    text-transform: capitalize;
    padding-bottom: 2px;
}
.free-shipping-bar {
    padding-bottom: 20px;
}
@media only screen and (min-width: 769px) {
  .main__cart {
    margin: 60px 0;
  }
}