/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
.cart-btn__container {
  display: flex;
  justify-content: space-between;
}
.main__cart {
  margin: 30px 0;
}
.cart__main-heading{
padding-bottom: 20px;
}
.cart__items {
padding-bottom: 35px;
}
.cart__item-block {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(1,1,1,0.2);
  margin-bottom: 20px;
  gap: 15px;
}
.cart__item-content {
flex: 1 1 auto;
justify-content: space-between;
display: flex;
flex-direction: column;
}
.cart__item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}
.mobile__hidden{
display: none;
}
.cart-quantity__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 10px;
}
.line__item-quantity input {
width: 40px;
padding: 0;
border: none;
text-align: center;
}
.line__item-quantity {
  display: flex;
  align-items: center;
  border: 1px solid rgba(1,1,1,0.2);
  /* padding: 10px 17px; */
}
.line__item-quantity button {
  padding: 15px;
  display: inline-flex;
}
.cart__summary {
  height: 100%;
  padding: 20px 25px;
  box-shadow: 0px 1px 4px 2px rgba(1,1,1,0.1);
}
.cart__summary h3 {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(1,1,1,0.2);
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
}
.cart__total-price, .cart__discount-price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(1,1,1,0.2);
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
}
.cart__shipping-text h4 {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.cart__shipping-text {
  padding-bottom: 70px;
}
.cart__terms-checkbox {
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart__unit-price {
  font-size: 14px;
  padding-top: 4px;
}
.line-item__discount {
    padding-top: 4px;
}
.cart__item-image a {
  height: 100%;
}
.cart__terms-checkbox input {
  width: auto;
  cursor: pointer;
}
.cart__terms-checkbox label {
  cursor: pointer;
}
.cart__checkout-wrapper .btn__link {
  width: 100%;
}
.cart__empty-message {
  text-align: center;
  padding: 20px 0;
}
.cart-drawer .cart__empty-message{
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cart__empty-message .rte {
  padding-bottom: 10px;
  font-size: 20px;
}
.line__item-final--price strong {
  color: #111111;
  padding-left: 6px;
}
.line__item-final--price strong {
  color: #111111;
  padding-left: 6px;
}
.cart__item-title h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.cart__item-price {
  padding-bottom: 20px;
  font-size: 12px;
  display: flex;
  gap: 20px;
  color: rgba(1,1,1,0.6);
}
.line__item-price {
  font-weight: bold;
}
.cart__item-remove {
  font-size: 13px;
  color: #9D1339;
  display: flex;
  align-items: center;
  gap: 4px;
}
.drawer__item-remove{
  color: #111111;
}
.cart__note {
  padding-top: 20px;
}
.cart-btn__container .form__links {
  /* color: #111111; */
  text-transform: capitalize;
  padding-bottom: 2px;
}
.free-shipping {
  padding-bottom: 20px;
display: inline-block;
}
.progress__bar {
  height: 8px;
  border: 1px solid #111111;
  margin-top: 15px;
  position: relative;
  /* max-width: 550px;
  width: 100%; */
  overflow: hidden;
}
.progress__bar:after {
  position: absolute;
  content: '';
  background: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.2s ease;
  transform: scaleX(var(--progress));
  transform-origin: left;
}
.cart__item-title.desktop__hidden {
  padding-bottom: 20px;
}
.disabled__button{
  color: red;
}
.price__strike {
  text-decoration: line-through;
}
@media only screen and (min-width: 769px) {
  .main__cart {
    margin: 60px 0;
  }
  .cart__main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .cart__items {
    padding-bottom: 0;
    flex: 1 1 auto;
  }
  .mobile__hidden{
    display: flex;
  }
  .desktop__hidden{
    display: none;
  }
  .cart__item-block{
    gap: 20px;
  }
}
/* Cart Drawer */
.cart-drawer {
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(1,1,1,0.3);
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cart-drawer__box{
  position: relative;
  max-width: calc(100% - 40px);
  width: 100%;
  height: 100vh;
  background: white;
}
.cart-drawer__left{
  left: -200%;
  opacity: 1;
}
.cart-drawer__right{
  right: -200%;
  opacity: 1;
}
.cart-drawer__right .cart-drawer__box{
  margin-left: auto;
}
.cart__modal-header {
  /* margin: 20px 25px; */
  padding: 20px 25px 20px;
}
.free-shipping__modal {
  padding: 25px 25px;
  display: block;
}
.cart-drawer__content {
  padding: 10px 25px;
  overflow: auto;
  height: 100%;
}
.cart-drawer__footer {
  padding: 20px 25px 90px;
  border-top: 1px solid rgba(1,1,1,0.2);
}
.cart-drawer #cartNoteBtn {
  margin-bottom: 20px;
  color: #111111;
}
.cart-drawer__footer .btn {
margin-bottom: 10px;
}
.drawer__shipping-text {
  padding-bottom: 20px;
}
.drawer__scrollable {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
@media only screen and (min-width: 481px) {
  .cart-drawer__box {
    max-width: 420px;
  }
}
/* Cart Popup */
.cart-popup {
  position: fixed;
  background: rgba(1,1,1,0.3);
  z-index: 999;
  width: 100%;
  height: 100vh;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.cart-popup .cart-drawer__box{
  height: auto;
}
.cart-popup__footer {
  padding: 0 25px 20px;
}
.cart-popup__content {
  padding: 20px 25px;
}
.cart-popup__top-right{
  top: -200%;
  right: 0;
  opacity: 1;
}
.cart-popup__top-left{
  top: -200%;
  left: 0;
  opacity: 1;
}
.cart-popup__top-right .cart-drawer__box{
  margin-left: auto;
  right: 10%;
}
.cart-popup__top-left .cart-drawer__box{
  left: 10%;
}
.open-cart__popup{
  top: 0;
}
.cart-popup .cart__note{
  padding: 20px 0;
}
.cart__item-modal {
  border: none;
  padding-bottom: 25px;
  margin: 0;
}
.cart-popup__footer .btn {
  margin-bottom: 10px;
}
/* @media only screen and (min-width: 481px) {
  .cart-popup{
    max-width: 400px;
  }
} */