.contact-form .form__input {
  background: #ffffff;
  background: var(--colorBody);
}
.contact-form__main-wrapper {
  padding: 35px 25px;
  background: #F1F3F4;
}
.contact-main__heading {
  padding-bottom: 20px;
}
.contact-block__info-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 25px;
}
.contact-info__container {
  padding-bottom: 30px;
}
.contact-block__info-flex:last-child {
  padding: 0;
}
.contact-info__text {
  padding-bottom: 30px;
}
.contact-form__grid {
  display: block;
}
.contact-form__grid .form__group {
  width: 100%;
}
.contact__form .btn__link {
  width: auto;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .contact-block__info-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
  }
  
  .contact-block__info-flex {
      width: 50%;
  }
  .contact-block__info-flex {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1201px){
  .contact-form__container {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .contact-info__container {
    padding-bottom: 0;
  }
  .contact-form__item {
    width: 50%;
  }
  .contact-form__grid {
    display: flex;
    gap: 20px;
  }
  .contact-form__grid .form__group {
    width: 50%;
  }
  
}