/* Contact Form Header */
/* .contact-page__text-content h1 {
    font-size: 20px;
    line-height: 2em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}
.contact-page__image-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.contact-page__wrapper {
    position: relative;
    height: 350px;
}
.contact-page__text-container {
    position: relative;
    display: table;
    width: 100%;
    height: 100%;
}
.contact-page__text-shadow {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 30px;
}
.contact-breadcrumb__list {
    justify-content: center;
}
@media only screen and (min-width: 381px) {
  .contact-page__text-content h1 {
    font-size: 28px;
  }
}

@media only screen and (min-width: 769px) {
  .contact-page__wrapper {
    height: 300px;
  }
  .contact-page__text-content h1 {
    font-size: 40px;
  }
} */
/* Contact Form */
.contact-form .form__input {
    background: white;
}
.contact-form__main-wrapper {
    padding: 35px 25px;
    background: #F1F3F4;
}
.contact-main__heading {
    padding-bottom: 20px;
}
.contact-block__info-flex {
    display: flex;
    gap: 15px;
    padding-bottom: 25px;
}
.contact-info__container {
    padding-bottom: 30px;
}
.contact-block__info-flex:last-child {
    padding: 0;
}
.contact-info__text {
    padding-bottom: 30px;
}
.contact-form__grid {
    display: block;
}
.contact-form__grid .form__group {
    width: 100%;
  }
.contact__form .btn__link {
    width: auto;
}
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .contact-block__info-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
  }
  
  .contact-block__info-flex {
      width: 50%;
  }
  .contact-block__info-flex {
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 1201px){
  .contact-form__container {
    display: flex;
    gap: 50px;
    align-items: center;
  }
  .contact-info__container {
    padding-bottom: 0;
  }
  .contact-form__item {
    width: 50%;
  }
  .contact-form__grid {
    display: flex;
    gap: 20px;
  }
  .contact-form__grid .form__group {
    width: 50%;
  }
  
}