.product-grid {
  padding-top: 30px;
}
.product-grid__item {
  width: 100%;
}
.product__block {
  margin-bottom: 20px;
}
.product__item-quantity {
  display: flex;
  align-items: center;
  border: 1px solid rgba(1,1,1,0.3);
}
.product-tab__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding-bottom: 15px;
}
.product-tab__header h4 {
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.product__tabs{
  margin-bottom: 15px;
}
.product-tab__container {
  border-bottom: 1px solid rgba(17,17,17,0.1);
}
.product-tab__content {
  padding-bottom: 20px;
}
.product-tab__content strong {
  color: var(--colorBodyText);
}
.product__social-share {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product__buy-buttons .btn__link {
  width: 100%;
}
.product__item-quantity input {
  width: 40px;
  padding: 0;
  border: none;
  text-align: center;
}
.product__item-quantity button {
  display: inline-flex;
  padding: 15px;
}
.product-quantity__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.product__title h2 {
  text-transform: capitalize;
}
.sale__price {
  font-size: 24px;
}
.product__content {
  display: flex;
  align-items: flex-start;
}
.product__content a{
  color: rgba(17,17,17,0.6);
}
.product__content-title {
  min-width: 150px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
.product__content-content {
  display: flex;
}
.sizeguide-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  z-index: 99;
  max-width: 650px;
  width: 100%;
  visibility: hidden;
}
.sizeguide-popup.active{
  visibility: visible;
}
.sizeguide__overlay:before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: 0;
  z-index: 99;
}
.close-modal__size--popup {
  right: -15px;
  top: -15px;
  background: black;
}
.close-modal__size--popup .icon__close {
  stroke: white;
}
.sizechart__header {
  text-align: center;
  border-bottom: 1px solid rgba(17,17,17,0.3);
  padding: 15px;
}
.sizeguide__content {
  padding: 20px;
}
.product__sizeguide button {
    display: flex;
    align-items: center;
}
.product__sizeguide button svg {
    width: 30px;
    height: 30px;
}
.product-media__thumbnails {
    margin-top: 20px;
}
.product-media__thumbnails .swiper-slide-thumb-active {
    border: 1px solid black;
}
.product-media__thumbnails .swiper-button-next:after,
.product-media__thumbnails .swiper-button-prev:after {
  font-size: 14px !important;
}
.product-media__thumbnails .swiper-button-prev,
.product-media__thumbnails .swiper-button-next {
    border: 1px solid rgba(226,226,226,1);
    height: auto;
    top: 50%;
    padding: 8px 15px;
    transform: translateY(-50%);
    margin-top: 0;
    background: rgba(226,226,226,1);
}
.product-media__thumbnails .swiper-button-prev {
    left: 0;
}
.product-media__thumbnails .swiper-button-next {
    right: 0;
}
@media only screen and (min-width: 768px) {
  .product-grid {
    display: flex;
    gap: 50px;
  }
  .product-block__small {
    width: 40%;
  }
  .product-block__half{
    width: 50%;
  }
  .product-block__large {
    width: 60%;
  }
  .product-block__extended{
    width: 65%;
  }
  product-block__extra--small{
    width: 35%;
  }
}