.product-grid {
  padding-top: 20px;
}
.product-grid__item {
  width: 100%;
}
.product__content {
  display: flex;
  gap: 50px;
}
.product__block {
  margin-bottom: 20px;
}
.product__item-quantity {
  display: flex;
  align-items: center;
}
.product-tab__header {
  display: flex;
  justify-content: space-between;
}
.product__social-share {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (min-width: 768px) {
  .product-grid {
    display: flex;
    gap: 50px;
  }
  .product-block__small {
    width: 40%;
  }
  .product-block__half{
    width: 50%;
  }
  .product-block__large {
    width: 60%;
  }
  .product-block__extended{
    width: 65%;
  }
  product-block__extra--small{
    width: 35%;
  }
}