{%- layout none -%}
<div class="product-grid{% if section.settings.media_position %} product-grid__reverse{% endif %}" data-section-id="{{ section.id }}" data-product-handle="{{ product.handle }}">
  <div class="product-grid__item {{ product_media_width }} product__image-container">
    {%- render 'product-media', 
      product: product,
      block: block,
      section: section,
      media_size: media_size 
    -%}
  </div>
  <div class="product-grid__item {{ product_content_width }} product__content-container">
    {%- render 'product-form',
      product: product,
      block: block,
      section: section,
      show_vendor: settings.show_vendor,
    -%}
  </div>
</div>